{% load static %} 
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WARSISOFTWEB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'css/slick.css' %} ">
            <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li><i class="fas fa-map-marker-alt"></i>Opposite of DIET Office Urmaura Robertsgang Sonebhadra (UP) 231216</li>
                                        <li><i class="fas fa-envelope"></i>info.warsisoftwen@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <li><a href="https://www.linkedin.com/in/mohammad-siddique-932359143/"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://twitter.com/Mohamma65769337"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/Warsisoftweb-106438614302438/"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="/"><img src="{% static 'assets/img/logo/logo.jpg'%}" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/services">Services</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="/contact" class="btn header-btn">Contact Now</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/services_hero.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- services Area Start-->
        <div class="services-area section-padding2">
            <div class="container">
                <!-- section tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Web Design & Development</h4>
                                <p>We offers comprehensive website design services boasting of highly scalable designs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-audit"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Digital Marketing</h4>
                                <p>We helps you establish a foothold on the online medium for Search Engines and Social Media.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist-1"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Search Engine Marketing</h4>
                                <p>We offer client-driven SEM services which are significant part of a broader online marketing strategy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Social Media Optimization</h4>
                                <p>we understand social media and follow the developments in a fast changing world.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-audit"></span>
                            </div>
                            <div class="services-caption">
                                <h4>E-Commerce</h4>
                                <p>Convert your visitors into customers with E-Commerce solutions by Sterco.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-icon">
                                <span class="flaticon-checklist-1"></span>
                            </div>
                            <div class="services-caption">
                                <h4>Mobile Apps</h4>
                                <p>we offers comprehensive mobility solutions, developing customized mobile and tablet apps catering to unique requirements of each brand and business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button -->
                <div class="row justify-content-center">
                    <div class="room-btn pt-50">
                        <a href="warsisoftweb.pdf" class="border-btn">More Services</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- services Area End-->

             <!-- Request Back Start -->
        <div class="request-back-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="request-content">
                            <h3>Request for  Call Back</h3>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <!-- Contact form Start -->
                        <div class="form-wrapper">
                            <form id="contact-form" action="{% url 'main:services' %}" method="POST">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box  mb-30">
                                            <input type="text" name="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-box mb-30">
                                            <input type="text" name="email" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 mb-30">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">Android application</option>
                                                <option value="">Web site design</option>
                                                <option value="">Digital marketing</option>
                                                <option value="">Web applications</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <button type="submit" class="send-btn">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>     <!-- Contact form End -->
                </div>
            </div>
        </div>
        <!-- Request Back End -->

    </main>
   <footer>
       <!-- Footer Start-->
       <div class="footer-area footer-padding">
           <div class="container">
               <div class="row d-flex justify-content-between">
                   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                             <!-- logo -->
                            <div class="footer-logo">
                                <a href="/"><img src="{% static 'assets/img/logo/logo2_footer.png'%}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p></p>
                               </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="//www.facebook.com/Warsisoftweb"><i class="fab fa-facebook-square"></i></a>
                                <a href="//twitter.com/Mohamma65769337"><i class="fab fa-twitter-square"></i></a>
                                <a href="//www.linkedin.com/in/mohammad"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Company</h4>
                               <ul>
                                   <li><a href="/">Home</a></li>
                                   <li><a href="/services">Services</a></li>
                                   <li><a href="/contact">  Contact Us</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Services</h4>
                               <ul>
                                   <li><a href="/services">Web Development</a></li>
                                   <li><a href="/services">E-commerce</a></li>
                                   <li><a href="/services">Mobile Applications</a></li>
                                   <li><a href="/services">Digital marketing</a></li>
                                   <li><a href="/services">Content marketing</a></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                       <div class="single-footer-caption mb-50">
                           <div class="footer-tittle">
                               <h4>Get in Touch</h4>
                               <ul>
                                <li><a href="#">+91-9997731856</a></li>
                                <li><a href="#"> info.warsisoftweb@gmail.com</a></li>
                                <li><a href="#">Opposite of DIET Office Urmaura Robertsganj Sonebhadra(UP)231216</a></li>
                            </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- footer-bottom aera -->
       
       <!-- Footer End-->
   </footer>
	<!-- JS here -->
	
		<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
        <script src="{% static '/assets/js/popper.min.js'%}"></script>
        <script src="{% static '/assets/js/bootstrap.min.js'%}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static '/assets/js/jquery.slicknav.min.js'%}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static '/assets/js/owl.carousel.min.js'%}"></script>
        <script src="{% static '/assets/js/slick.min.js'%}"></script>
        <!-- Date Picker -->
        <script src="{% static '/assets/js/gijgo.min.js'%}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static '/assets/js/wow.min.js'%}"></script>
		<script src="{% static '/assets/js/animated.headline.js'%}"></script>
        <script src="{% static '/assets/js/jquery.magnific-popup.js'%}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static '/assets/js/jquery.scrollUp.min.js'%}"></script>
        <script src="{% static '/assets/js/jquery.nice-select.min.js'%}"></script>
		<script src="{% static '/assets/js/jquery.sticky.js'%}"></script>
        
        <!-- contact js -->
        <script src="{% static '/assets/js/contact.js'%}"></script>
        <script src="{% static '/assets/js/jquery.form.js'%}"></script>
        <script src="{% static '/assets/js/jquery.validate.min.js'%}"></script>
        <script src="{% static '/assets/js/mail-script.js'%}"></script>
        <script src="{% static '/assets/js/jquery.ajaxchimp.min.js'%}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static '/assets/js/plugins.js'%}"></script>
        <script src="{% static '/assets/js/main.js'%}"></script>
        
        
    </body>
</html>
